.container {
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    75.4% 259.17% at 94.48% 100%,
    #1fffbc 0%,
    #540ba1 100%
  );
}

.itemsList {
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: white;
  scrollbar-color: #1fff7c;
}

.footer {
  margin-top: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    90% 220% at 85% 85%,
    #ff47b5 0%,
    #4e15ab 100%
  );
  color: white;
  padding: 40px 20px;
}
