.main {
  padding: 1rem 3rem;
  flex: 5;
  display: flex;
  flex-direction: column;
  @media (max-width: 750px) {
    padding: 0 3rem;
    transition: all 1s;
  }
}

.welcome {
  text-align: left;
  color: white;
  font-size: 2rem;
  @media (max-width: 600px) {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    transition: all 1s;
  }
}
.description {
  text-align: left;
  color: white;
  margin: 1rem 0;
  @media (max-width: 750px) {
    margin: 0.5rem 0;
    transition: all 1s;
  }
}

.imageWrapper {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 673px;
  transition: height 1s;
  @media (max-width: 750px) {
    height: 50%; /* Or adjust as needed */
    transition: height 1s;
  }
  @media (max-width: 600px) {
    height: 30%; /* Or adjust as needed */
    transition: height 1s;
  }
}

.main {
  z-index: 1;
}
